.btn {
	display: inline-flex;
	padding: 1rem 2rem;
	outline: none;
	color: var(--color-white);
	background-color: var(--color-neon-blue);

	cursor: pointer;
	transition: opacity var(--default-transition);

	&--red {
		background-color: var(--color-torch-red);
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	@include hover-focus {
		opacity: 0.8;
	}
}
