.checkbox-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 2rem;
	padding-left: 3rem;
	cursor: pointer;
	user-select: none;
}

.checkbox-input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.checkbox-custom {
	position: absolute;
	top: 50%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	background-color: var(--color-white);
	border: 0.1rem solid var(--color-text-muted);
	transform: translateY(-50%);
	transition: background-color var(--default-transition), border-color var(--default-transition), box-shadow var(--default-transition);

	svg {
		opacity: 0;
		transform: scale(0.8);
		transition: opacity var(--default-transition), transform var(--default-transition);
	}
}

.checkbox-wrapper:hover .checkbox-custom {
	border-color: var(--color-brand);
}

.checkbox-input:focus-visible ~ .checkbox-custom {
	box-shadow: 0 0 0 0.2rem var(--color-link);
}

.checkbox-input:checked ~ .checkbox-custom {
	background-color: var(--color-brand);
	border-color: var(--color-brand);

	svg {
		opacity: 1;
		transform: scale(1);
	}
}

.checkbox-input:disabled ~ .checkbox-custom {
	opacity: 0.5;
	cursor: not-allowed;
}

.checkbox-text {
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--color-text-body);

	a {
		color: var(--color-link);
		text-decoration: underline;
		text-underline-offset: 0.2rem;
	}
}

.checkbox-wrapper.has-danger .checkbox-custom {
	border-color: var(--color-error);
}
