.input {
	position: relative;

	input,
	textarea {
		width: 100%;
		padding: 1.7rem 1.6rem;
		font-family: inherit;
		font-size: 1.6rem;
		line-height: 2rem;
		font-weight: 500;
		color: var(--color-text);
		background-color: var(--color-white);
		border: 0.1rem solid var(--color-border);
		outline: none;
		transition: border-color var(--default-transition), box-shadow var(--default-transition);

		&::placeholder {
			color: var(--color-text-muted);
		}

		@include hover {
			border-color: var(--color-bg-icon);
		}

		&:focus {
			border-color: var(--color-brand);
			box-shadow: 0 0 0 0.1rem var(--color-brand);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	.error-message {
		margin-top: 0.4rem;
		font-size: 1.3rem;
		line-height: 1.8rem;
		color: var(--color-error);
	}

	&.has-danger {
		input,
		textarea {
			border-color: var(--color-error);
		}
	}
}
