<a class="promo promo--tall" href="#">
	<div class="promo__head">
		<h3 class="promo__title">Помощь в выборе сервера под Ваши задачи и требования</h3>
		<span class="promo__arrow" aria-hidden="true">
			<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-right"></use></svg>
		</span>
	</div>
	<img class="promo__img" src="assets/img/promo-datacenter.webp" width="280" height="210" alt="" loading="lazy">
</a>

<a class="promo" href="#">
	<img class="promo__img promo__img--bg" src="assets/img/promo-raid.webp" width="328" height="260" alt="" loading="lazy">
	<div class="promo__head">
		<h3 class="promo__title">Калькулятор RAID</h3>
		<span class="promo__arrow" aria-hidden="true">
			<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-right"></use></svg>
		</span>
	</div>
</a>
