<div class="catalog-list">
	<div class="catalog-list__toolbar">
		<div class="catalog-list__stats">
			<p class="catalog-list__stat"><span>Найдено:</span> <b>87</b></p>
			<p class="catalog-list__stat"><span>Минимальная цена:</span> <b>226 062 ₽</b></p>
		</div>

		<div class="catalog-list__toolbar-actions">
			<div class="select catalog-list__sort" data-select="select">
				<div class="select__wrapper">
					<div class="select__button" data-select="button">
						<div class="select__title">
							<span>По возрастанию</span>
							<svg viewBox="0 0 20 20" fill="none" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.558 8.058a.833.833 0 0 1 1.179 0L10 12.616l4.558-4.558a.833.833 0 1 1 1.179 1.179l-5 5a.833.833 0 0 1-1.179 0l-5-5a.833.833 0 0 1 0-1.179Z" fill="currentColor"/></svg>
						</div>
						<input type="text" name="sort" value="asc" aria-label="Сортировка">
					</div>
					<div class="select__options" data-select="options">
						<ul class="select__list">
							<li class="select__option is-selected" data-value="asc" data-select="option"><span>По возрастанию</span></li>
							<li class="select__option" data-value="desc" data-select="option"><span>По убыванию</span></li>
							<li class="select__option" data-value="popular" data-select="option"><span>По популярности</span></li>
							<li class="select__option" data-value="new" data-select="option"><span>Сначала новые</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="catalog-list__grid">
		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")

		@@include("source/html/components/product-promo-card.html")

		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")

		@@include("source/html/components/product-promo-card.html")

		@@include("source/html/components/product-card.html")
		@@include("source/html/components/product-card.html")
	</div>

	<div class="catalog-list__footer">
		<button class="btn btn--outlined btn--md btn--block" type="button">Показать еще</button>

		<nav class="pagination" aria-label="Пагинация каталога">
			<a class="pagination__nav" href="#">В начало</a>
			<ul class="pagination__list">
				<li><a class="pagination__page" href="#">1</a></li>
				<li><a class="pagination__page is-active" href="#" aria-current="page">2</a></li>
				<li><a class="pagination__page" href="#">3</a></li>
				<li><a class="pagination__page" href="#">4</a></li>
				<li><a class="pagination__page" href="#">5</a></li>
			</ul>
			<a class="pagination__nav" href="#">Дальше</a>
		</nav>
	</div>
</div>
