<a class="dropdown-promo" href="@@if(context.href){@@href}@@if(!context.href){#}">
	<span class="dropdown-promo__head">
		<span class="dropdown-promo__title">@@title</span>
		<span class="dropdown-promo__arrow" aria-hidden="true">
			<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
		</span>
	</span>
	<img class="dropdown-promo__img" src="assets/img/menu-promo.webp" width="1105" height="619" alt="" loading="lazy">
</a>
