<div class="dropdown" id="dropdown-support" data-dropdown-panel>
	<div class="dropdown__inner">
		<div class="dropdown__cols">
			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/faq.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Техническая поддержка</span>
							<span class="dropdown-card__text">Сбалансированный пакет услуг по технической поддержке наших заказчиков и партнеров с библиотекой firmware и тикетной системой обращений.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/certificates.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Гарантия</span>
							<span class="dropdown-card__text">Стандартная и расширенная гарантия на оборудование ушедших вендоров и российских производителей. Адреса действующих сервисных центров.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/about.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Вопросы и ответы</span>
							<span class="dropdown-card__text">Ответы на часто задаваемые вопросы от наших клиентов. Мы стремимся предоставить максимально полезную информацию, чтобы вы были уверены в своем выборе.</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<a class="dropdown-promo" href="#">
			<span class="dropdown-promo__head">
				<span class="dropdown-promo__title">Обращение в сервисный центр</span>
				<span class="dropdown-promo__arrow" aria-hidden="true">
					<img src="assets/svg/arrow-right.svg" width="20" height="20" alt="">
				</span>
			</span>
			<img class="dropdown-promo__img" src="assets/img/menu-promo.png" width="1105" height="619" alt="" loading="lazy">
		</a>
	</div>
</div>
