<div class="dropdown" id="dropdown-support" data-dropdown-panel>
	<div class="dropdown__inner">
		<div class="dropdown__cols">
			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-faq"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Техническая поддержка</span>
							<span class="dropdown-card__text">Сбалансированный пакет услуг по технической поддержке наших заказчиков и партнеров с библиотекой firmware и тикетной системой обращений.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-certificates"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Гарантия</span>
							<span class="dropdown-card__text">Стандартная и расширенная гарантия на оборудование ушедших вендоров и российских производителей. Адреса действующих сервисных центров.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-about"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Вопросы и ответы</span>
							<span class="dropdown-card__text">Ответы на часто задаваемые вопросы от наших клиентов. Мы стремимся предоставить максимально полезную информацию, чтобы вы были уверены в своем выборе.</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		@@include("source/html/components/dropdown-promo.html", { "title": "Обращение в сервисный центр" })
	</div>
</div>
