<div class="dropdown" id="dropdown-it-solutions" data-dropdown-panel>
	<div class="dropdown__inner">
		<div class="dropdown__cols">
			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-about"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Серверные решения</span>
							<span class="dropdown-card__text">Надежные и масштабируемые серверные решения, готовые удовлетворить даже самые требовательные потребности в области вычислений.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-delivery"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Виртуализация и облачные решения</span>
							<span class="dropdown-card__text">Технологии виртуализации и облачные решения, предоставляющие возможность эффективного использования аппаратных ресурсов серверов.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-certificates"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Хранение и резервирование данных</span>
							<span class="dropdown-card__text">Надежные решения для хранения данных, обеспечивающие безопасность и доступность информации.</span>
						</span>
					</a>
				</li>
			</ul>

			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-faq"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Аудит и модернизация ИТ-инфраструктуры</span>
							<span class="dropdown-card__text">Профессиональные услуги аудита и модернизации ИТ-инфраструктуры для оптимизации производительности, безопасности и эффективности бизнес-процессов.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-news"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Унифицированные коммуникации</span>
							<span class="dropdown-card__text">Интегрированные решения для обеспечения эффективного взаимодействия и коммуникации внутри компании и с внешними стейкхолдерами.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-blog"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Информационная безопасность</span>
							<span class="dropdown-card__text">Комплексные решения и услуги по обеспечению защиты информации от угроз и соблюдению требований по безопасности данных.</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		@@include("source/html/components/dropdown-promo.html", { "title": "Консультация эксперта" })
	</div>
</div>
