<div class="dropdown" id="dropdown-cases" data-dropdown-panel>
	<div class="dropdown__inner">
		<div class="dropdown__cols">
			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/about.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Банки и финансы</span>
							<span class="dropdown-card__text">Современные решения для оптимизации банковских процессов, повышения безопасности и улучшения клиентского опыта.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/delivery.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Промышленность</span>
							<span class="dropdown-card__text">Оптимизация производственных процессов, внедрение систем для автоматизации и повышения эффективности в промышленной сфере.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/certificates.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Государственные учреждения</span>
							<span class="dropdown-card__text">Проекты по модернизации и импортозамещению ИТ-платформ для государственных электронных сервисов и служб.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/contacts.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Телеком и ИТ</span>
							<span class="dropdown-card__text">Решение задач качества связи, сетевой безопасности и управления ИТ-инфраструктурой в телекоммуникационных средах.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/news.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Ритейл</span>
							<span class="dropdown-card__text">Инфраструктурные решения для систем электронной коммерции, управления складом и сервиса заботы о клиентах наших заказчиков.</span>
						</span>
					</a>
				</li>
			</ul>

			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/faq.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Наука</span>
							<span class="dropdown-card__text">Высоконагруженные вычислительные кластеры для научных лабораторий, университетов и исследовательских центров в части AI и Machine Learning.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/blog.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">СМИ и реклама</span>
							<span class="dropdown-card__text">Современные среды для цифровых платформ, систем управления контентом и сквозной аналитики для сервисов digital-маркетинга.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/vacancies.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Медицина</span>
							<span class="dropdown-card__text">ИТ-решения для хранения, управления и аналитики медицинских данных, в том числе для медиа данных и потоковой записи аппаратов МРТ и КТ.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/certificates.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Услуги и консалтинг</span>
							<span class="dropdown-card__text">Гибкий подход во внедрении инфраструктуры для систем оптимизации бизнес-процессов, управления проектами и анализа данных.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<img class="dropdown-card__icon" src="assets/svg/menu/delivery.svg" width="24" height="24" alt="" aria-hidden="true">
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">HoReCa</span>
							<span class="dropdown-card__text">Разнообразные варианты аппаратных и программных систем для инновационных сред, автоматизации процессов ресторанов и управления гостеприимством отелей.</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<a class="dropdown-promo" href="#">
			<span class="dropdown-promo__head">
				<span class="dropdown-promo__title">Последний реализованный проект</span>
				<span class="dropdown-promo__arrow" aria-hidden="true">
					<img src="assets/svg/arrow-right.svg" width="20" height="20" alt="">
				</span>
			</span>
			<img class="dropdown-promo__img" src="assets/img/menu-promo.png" width="1105" height="619" alt="" loading="lazy">
		</a>
	</div>
</div>
