<div class="dropdown dropdown--mega" id="dropdown-catalog" data-dropdown-panel>
	<div class="mega" data-mega>
		<div class="mega__aside">
			<ul class="mega__tabs" role="tablist" aria-label="Разделы каталога">
				<li>
					<button class="mega__tab is-active" type="button" role="tab" aria-selected="true" aria-controls="mega-servers" data-mega-tab>
						<span>Серверы</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-platforms" data-mega-tab>
						<span>Серверные платформы</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-import" data-mega-tab>
						<span>Импортозамещение</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-storage" data-mega-tab>
						<span>Системы хранения данных</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-network" data-mega-tab>
						<span>Сетевое оборудование</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-software" data-mega-tab>
						<span>Программное обеспечение</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-ups" data-mega-tab>
						<span>ИБП</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-pc" data-mega-tab>
						<span>Персональные компьютеры</span>
						<svg class="mega__tab-chevron icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-chevron-down"></use></svg>
					</button>
				</li>
			</ul>
		</div>

		<div class="mega__content">
			<div class="mega__pane is-active" id="mega-servers" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Серверное оборудование</span>
					<a class="mega__more" href="catalog.html" aria-label="Все серверное оборудование">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Серверы HP</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Dell</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Lenovo</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Серверы OpenYard</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы QTech</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы SNR</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Рикор</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Yadro</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Гравитон</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Серверы в стойку</a></li>
						<li><a class="mega__link" href="catalog.html">Tower серверы</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
					<li><a class="mega__tag" href="catalog.html">1u</a></li>
					<li><a class="mega__tag" href="catalog.html">2u</a></li>
					<li><a class="mega__tag" href="catalog.html">4u</a></li>
					<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
					<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
					<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
				</ul>
				<div class="mega__banners">
				<a class="mega__banner" href="#">
					<span>Лизинг</span>
					<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
				</a>
				<a class="mega__banner" href="#">
					<span>Акции</span>
					<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
				</a>
			</div>
			</div>

			<div class="mega__pane" id="mega-platforms" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Серверные платформы</span>
					<a class="mega__more" href="catalog.html" aria-label="Все серверные платформы">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Платформы Supermicro</a></li>
						<li><a class="mega__link" href="catalog.html">Платформы Gigabyte</a></li>
						<li><a class="mega__link" href="catalog.html">Платформы ASUS</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Blade-серверы</a></li>
						<li><a class="mega__link" href="catalog.html">Шасси</a></li>
						<li><a class="mega__link" href="catalog.html">Высокопроизводительные серверы</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
					<li><a class="mega__tag" href="catalog.html">1u</a></li>
					<li><a class="mega__tag" href="catalog.html">2u</a></li>
					<li><a class="mega__tag" href="catalog.html">4u</a></li>
					<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
					<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
					<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
					<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
					<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
				</ul>
			</div>

			<div class="mega__pane" id="mega-import" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Импортозамещение</span>
					<a class="mega__more" href="catalog.html" aria-label="Всё оборудование российского производства">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Серверы OpenYard</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Гравитон</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы Yadro</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Серверы Рикор</a></li>
						<li><a class="mega__link" href="catalog.html">Серверы QTech</a></li>
						<li><a class="mega__link" href="catalog.html">Реестр Минпромторга</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			<div class="mega__pane" id="mega-storage" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Системы хранения данных</span>
					<a class="mega__more" href="catalog.html" aria-label="Все системы хранения данных">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Системы хранения данных (СХД)</a></li>
						<li><a class="mega__link" href="catalog.html">Высокопроизводительные СХД</a></li>
						<li><a class="mega__link" href="catalog.html">Сетевые хранилища (NAS)</a></li>
						<li><a class="mega__link" href="catalog.html">Ленточные системы хранения</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Дисковые полки</a></li>
						<li><a class="mega__link" href="catalog.html">Системы резервирования D2D</a></li>
						<li><a class="mega__link" href="catalog.html">Гиперконвергентные системы</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			<div class="mega__pane" id="mega-network" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Сетевое оборудование</span>
					<a class="mega__more" href="catalog.html" aria-label="Всё сетевое оборудование">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Коммутаторы</a></li>
						<li><a class="mega__link" href="catalog.html">Маршрутизаторы</a></li>
						<li><a class="mega__link" href="catalog.html">Межсетевые экраны</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Точки доступа Wi-Fi</a></li>
						<li><a class="mega__link" href="catalog.html">Оптические трансиверы</a></li>
						<li><a class="mega__link" href="catalog.html">Серверные шкафы</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			<div class="mega__pane" id="mega-software" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Программное обеспечение</span>
					<a class="mega__more" href="catalog.html" aria-label="Всё программное обеспечение">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Операционные системы</a></li>
						<li><a class="mega__link" href="catalog.html">Виртуализация</a></li>
						<li><a class="mega__link" href="catalog.html">Резервное копирование</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Системы мониторинга</a></li>
						<li><a class="mega__link" href="catalog.html">Информационная безопасность</a></li>
						<li><a class="mega__link" href="catalog.html">Реестр отечественного ПО</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			<div class="mega__pane" id="mega-ups" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Источники бесперебойного питания</span>
					<a class="mega__more" href="catalog.html" aria-label="Все ИБП">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">ИБП линейно-интерактивные</a></li>
						<li><a class="mega__link" href="catalog.html">ИБП двойного преобразования</a></li>
						<li><a class="mega__link" href="catalog.html">Стоечные ИБП</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Батарейные модули</a></li>
						<li><a class="mega__link" href="catalog.html">Стабилизаторы напряжения</a></li>
						<li><a class="mega__link" href="catalog.html">Блоки распределения питания (PDU)</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			<div class="mega__pane" id="mega-pc" role="tabpanel" data-mega-pane>
				<div class="mega__head">
					<span class="mega__title">Персональные компьютеры</span>
					<a class="mega__more" href="catalog.html" aria-label="Все персональные компьютеры">
						<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
				<div class="mega__lists">
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Рабочие станции</a></li>
						<li><a class="mega__link" href="catalog.html">Моноблоки</a></li>
						<li><a class="mega__link" href="catalog.html">Ноутбуки</a></li>
					</ul>
					<ul class="mega__list">
						<li><a class="mega__link" href="catalog.html">Тонкие клиенты</a></li>
						<li><a class="mega__link" href="catalog.html">Мониторы</a></li>
						<li><a class="mega__link" href="catalog.html">Периферия</a></li>
					</ul>
				</div>
				<ul class="mega__tags">
				<li><a class="mega__tag" href="catalog.html">1u</a></li>
				<li><a class="mega__tag" href="catalog.html">2u</a></li>
				<li><a class="mega__tag" href="catalog.html">4u</a></li>
				<li><a class="mega__tag" href="catalog.html">1 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">2 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">4 CPU</a></li>
				<li><a class="mega__tag" href="catalog.html">Intel Xeon</a></li>
				<li><a class="mega__tag" href="catalog.html">AMD EPYC</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для 1С</a></li>
				<li><a class="mega__tag" href="catalog.html">Файловый сервер</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер видеонаблюдения</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер баз данных</a></li>
				<li><a class="mega__tag" href="catalog.html">Сервер для офиса</a></li>
			</ul>
			</div>

			
		</div>
	</div>
</div>
