<div class="dropdown dropdown--mega" id="dropdown-configurator" data-dropdown-panel>
	<div class="mega" data-mega>
		<div class="mega__aside">
			<ul class="mega__tabs" role="tablist" aria-label="Разделы конфигуратора">
				<li>
					<button class="mega__tab is-active" type="button" role="tab" aria-selected="true" aria-controls="mega-cfg-servers" data-mega-tab>
						<span>Конфигуратор серверов</span>
						<img class="mega__tab-chevron" src="assets/svg/chevron-down.svg" width="16" height="16" alt="" aria-hidden="true">
					</button>
				</li>
				<li>
					<button class="mega__tab" type="button" role="tab" aria-selected="false" aria-controls="mega-cfg-storage" data-mega-tab>
						<span>Конфигуратор СХД</span>
						<img class="mega__tab-chevron" src="assets/svg/chevron-down.svg" width="16" height="16" alt="" aria-hidden="true">
					</button>
				</li>
			</ul>
		</div>

		<div class="mega__content">
			<div class="mega__pane is-active" id="mega-cfg-servers" role="tabpanel" data-mega-pane>
				<div class="mega__groups">
					<div class="mega__group">
						<div class="mega__head">
							<a class="mega__group-title" href="#">Конфигуратор серверов Dell</a>
							<a class="mega__more" href="#" aria-label="Конфигуратор серверов Dell">
								<img src="assets/svg/arrow-right.svg" width="16" height="16" alt="">
							</a>
						</div>
						<ul class="mega__list">
							<li><a class="mega__link" href="#">Dell PowerEdge R760</a></li>
							<li><a class="mega__link" href="#">Dell PowerEdge R750</a></li>
							<li><a class="mega__link" href="#">Dell PowerEdge R550</a></li>
							<li><a class="mega__link" href="#">Dell PowerEdge R660</a></li>
							<li><a class="mega__link" href="#">Dell PowerEdge R650</a></li>
							<li><a class="mega__link" href="#">Dell PowerEdge R450</a></li>
						</ul>
					</div>

					<div class="mega__group">
						<div class="mega__head">
							<a class="mega__group-title" href="#">Конфигуратор серверов HP</a>
							<a class="mega__more" href="#" aria-label="Конфигуратор серверов HP">
								<img src="assets/svg/arrow-right.svg" width="16" height="16" alt="">
							</a>
						</div>
						<ul class="mega__list">
							<li><a class="mega__link" href="#">HPE ProLiant DL360 Gen10</a></li>
							<li><a class="mega__link" href="#">HPE ProLiant ML350 Gen10</a></li>
							<li><a class="mega__link" href="#">HPE ProLiant DL380 Gen10</a></li>
							<li><a class="mega__link" href="#">HPE ProLiant DL325 Gen10</a></li>
						</ul>
					</div>

					<div class="mega__group">
						<div class="mega__head">
							<a class="mega__group-title" href="#">Конфигуратор серверов Lenovo</a>
							<a class="mega__more" href="#" aria-label="Конфигуратор серверов Lenovo">
								<img src="assets/svg/arrow-right.svg" width="16" height="16" alt="">
							</a>
						</div>
						<ul class="mega__list">
							<li><a class="mega__link" href="#">Lenovo ThinkSystem SR250</a></li>
							<li><a class="mega__link" href="#">Lenovo ThinkSystem SR630</a></li>
							<li><a class="mega__link" href="#">Lenovo ThinkSystem SR650</a></li>
							<li><a class="mega__link" href="#">Lenovo ThinkSystem SR655</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="mega__pane" id="mega-cfg-storage" role="tabpanel" data-mega-pane>
				<div class="mega__groups">
					<div class="mega__group">
						<div class="mega__head">
							<a class="mega__group-title" href="#">Конфигуратор СХД</a>
							<a class="mega__more" href="#" aria-label="Конфигуратор СХД">
								<img src="assets/svg/arrow-right.svg" width="16" height="16" alt="">
							</a>
						</div>
						<ul class="mega__list">
							<li><a class="mega__link" href="#">Дисковые массивы</a></li>
							<li><a class="mega__link" href="#">Сетевые хранилища (NAS)</a></li>
							<li><a class="mega__link" href="#">Дисковые полки</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="mega__banners">
				<a class="mega__banner" href="#">
					<span>Подобрать сервер</span>
					<img src="assets/svg/arrow-right.svg" width="20" height="20" alt="" aria-hidden="true">
				</a>
				<a class="mega__banner" href="#">
					<span>Консультация эксперта</span>
					<img src="assets/svg/arrow-right.svg" width="20" height="20" alt="" aria-hidden="true">
				</a>
			</div>
		</div>
	</div>
</div>
