<div class="dropdown" id="dropdown-company" data-dropdown-panel>
	<div class="dropdown__inner">
		<div class="dropdown__cols">
			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-about"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">О компании</span>
							<span class="dropdown-card__text">Наши ценности, миссия, история и достижения. Рассказываем о наших ключевых преимуществах, уникальных возможностях и партнерских отношениях.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-certificates"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Сертификаты</span>
							<span class="dropdown-card__text">Сертификаты, начиная c 2010 года, подтверждающих компетентность, качество и надежность нашей компании.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-vacancies"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Вакансии</span>
							<span class="dropdown-card__text">Мы всегда открыты увлеченным и амбициозным специалистам, которые любят ИТ так же как любим его мы.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-contacts"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Контакты</span>
							<span class="dropdown-card__text">Адреса офиса, склада, сервисного центра. Все для связи с нами. Готовы ответить на ваши вопросы и обсудить детали вашей задачи.</span>
						</span>
					</a>
				</li>
			</ul>

			<ul class="dropdown__col">
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-faq"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Вопросы и ответы</span>
							<span class="dropdown-card__text">Ответы на часто задаваемые вопросы от наших клиентов. Мы стремимся предоставить максимально полезную информацию, чтобы вы были уверены в своем выборе.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-blog"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Блог</span>
							<span class="dropdown-card__text">Статьи, обзоры и мнения от команды экспертов о тенденциях, инновациях и лучших практиках в ИТ.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-news"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Новости</span>
							<span class="dropdown-card__text">Последние новости и обновления о самых актуальных трендах в мире IT-оборудования и ПО.</span>
						</span>
					</a>
				</li>
				<li class="dropdown__cell">
					<a class="dropdown-card" href="#">
						<svg class="dropdown-card__icon icon" width="24" height="24" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-delivery"></use></svg>
						<span class="dropdown-card__body">
							<span class="dropdown-card__title">Доставка и оплата</span>
							<span class="dropdown-card__text">Надежно привозим, быстро оформляем, честно фиксируем условия.</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<a class="dropdown-promo" href="#">
			<span class="dropdown-promo__head">
				<span class="dropdown-promo__title">Консультация эксперта</span>
				<span class="dropdown-promo__arrow" aria-hidden="true">
					<svg class="icon" width="20" height="20" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-arrow-right"></use></svg>
				</span>
			</span>
			<img class="dropdown-promo__img" src="assets/img/menu-promo.png" width="1105" height="619" alt="" loading="lazy">
		</a>
	</div>
</div>
