<aside class="product-promo">
	<ul class="product-promo__list">
		<li class="product-promo__item">
			<p class="product-promo__item-title">Обязательное тестирование до отгрузки</p>
			<p class="product-promo__item-text">Надежная защита от заводского брака</p>
		</li>
		<li class="product-promo__item">
			<p class="product-promo__item-title">Собственный склад серверов и опций</p>
			<p class="product-promo__item-text">Замена по гарантии в течение нескольких дней</p>
		</li>
		<li class="product-promo__item">
			<p class="product-promo__item-title">Новое и оригинальное оборудование</p>
			<p class="product-promo__item-text">Как проверить оригинальность и срок производства?</p>
		</li>
	</ul>

	<div class="product-promo__cta">
		<p class="product-promo__cta-title">Нужна техническая консультация по выбору сервера?</p>
		<button class="btn btn--soft btn--md product-promo__cta-btn" type="button" data-modal-open="callback">Оставить заявку</button>
	</div>
</aside>
