<label class="checkbox-wrapper @@if (context.containerClass) { @@containerClass}" data-form-group-checkbox>
	<input
		type="checkbox"
		class="checkbox-input @@if (context.class) { @@class}"
		@@if (context.name) {name="@@name"}
		@@if (context.id) {id="@@id" }
		@@if (context.required) {required}
		@@if (context.checked) {checked}
		@@if (context.disabled) {disabled}
	 >
	<span class="checkbox-custom">
		<svg class="icon" width="14" height="10" aria-hidden="true" focusable="false"><use href="assets/svg/sprite.svg#icon-check"></use></svg>
	</span>
	@@if (context.label && context.label !== "undefined") {
		<span class="checkbox-text">
			@@label
		</span>
	}
</label>
