.filters {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 28px 24px;

	background-color: var(--color-white);
	border-radius: var(--radius-md);

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	&__title {
		font-size: 24px;
		line-height: 32px;
		color: var(--color-shark);
	}

	&__close {
		display: none;
		padding: 0;

		img {
			width: 20px;
			height: 20px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__group-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		width: 100%;
		padding: 0;

		text-align: left;
	}

	&__group-name {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		color: var(--color-shark);
	}

	&__group-icon {
		width: 16px;
		height: 16px;
		flex-shrink: 0;

		transition: transform var(--default-transition);
	}

	&__group-body {
		display: none;
		flex-direction: column;
		gap: 16px;
	}

	&__group.active {
		.filters__group-icon {
			transform: rotate(180deg);
		}

		.filters__group-body {
			display: flex;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	&__more {
		padding: 0;

		font-family: var(--font-primary);
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		color: var(--color-shark);
		text-align: left;

		transition: color var(--default-transition);

		@include hover-focus {
			color: var(--color-cerulean);
		}
	}

	@include vp-1024 {
		gap: 20px;
		padding: 24px;

		&__head {
			padding-bottom: 4px;
		}

		&__close {
			display: block;
		}

		&__tags {
			gap: 8px;
		}
	}
}
